<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:200px; width:100%; }
        #console {position: absolute; bottom: 0px; height: 200px; width: 100%; background-color: black}
    </style>
    <link href='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.min.css' rel='stylesheet'>
    <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.js'></script>
    <script src="{{ static_url("jquery-2.1.1.js") }}"></script>
    <script src="{{ static_url("jquery.terminal.min.js") }}"></script>
    <link src="{{ static_url("jquery.terminal.css") }}" rel="stylesheet"/>
</head>
<body>

<div id='map'></div>
<div id='console'></div>
<script>

  const parseParams = (w_loc) => {
    const param_list = w_loc.replace('?', '').split('&')
    const out_params = {}
    for (let i = 0; i < param_list.length; i++) {
      let tPar = param_list[i].split('=');
      out_params[tPar[0]] = tPar[1]
    }
    return out_params;
  }
  const params = parseParams(window.location.search);

  mapboxgl.accessToken = params.access_token || '';

  let tiles_url = "{{ tiles_url }}";

  var map = new mapboxgl.Map({
    container: 'map',
    style: { version: 8, sources: {}, layers: [] },
    center: {{ center }},
    zoom: {{ zoom }},
    hash: true
  });
  map.addControl(new mapboxgl.NavigationControl());

  const setSource = (color) => {
    if (map.getSource('raster-tiles')) map.removeSource('raster-tiles');
    if (map.getLayer('raster-tiles')) map.removeLayer('raster-tiles');

    if (color !== '') tiles_url = `${tiles_url}?color_ops=${color}`;

    map.addSource('raster-tiles', {
          'type': 'raster',
          'tiles': [
            tiles_url
          ],
          'bounds': {{ tiles_bounds }},
          'minzoom': {{ tiles_minzoom }},
          'maxzoom': {{ tiles_maxzoom }},
          'tileSize': {{ tiles_size }}
      });

      map.addLayer({
          'id': 'raster-tiles',
          'type': 'raster',
          'source': 'raster-tiles'
      });
  }

  var shell = $('#console').terminal(function(command) {
    if (command !== '') {
      color = command.split('rio color')[-1];
      this.echo('APPLYING ' + command);
      setSource(encodeURIComponent(command));
    } else {
     this.echo('');
    }
  }, {
    greetings: 'USAGE: <>',
    name: 'js_demo',
    height: 200,
    prompt: '> '
  });

  map.on('load', function() {
    if (mapboxgl.accessToken !== '') {
      map.addLayer({
        'id': 'basemap',
        'type': 'raster',
        'source': {'type': 'raster', 'url': `mapbox://mapbox.satellite`}
      });
    }

    var bounds = {{ tiles_bounds }};
    map.fitBounds([[bounds[0], bounds[1]], [bounds[2], bounds[3]]]);

    const color = encodeURIComponent("gamma b 1, gamma rg 1");
    setSource(color);
  });

</script>
</body>
</html>
