<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:200px; width:100%; }
        #console {position: absolute; bottom: 0px; height: 200px; width: 100%; background-color: black}
    </style>
    <link href='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.min.css' rel='stylesheet'>
    <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.js'></script>
    <script src="{{url_for('static', filename='jquery-2.1.1.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.terminal.min.js')}}"></script>
      <link href="{{url_for('static', filename='jquery.terminal.css')}}" rel="stylesheet"/>
</head>
<body>

<div id='map'></div>
<div id='console'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZG5vbWFkYiIsImEiOiJjaW16aXFsZzUwNHJmdjdra3h0Nmd2cjY1In0.SqzkaKalXxQaPhQLjodQcQ';

    var ctrlnglat = [{{ ctrlng }}, {{ ctrlat }}];

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/satellite-v9',
        center: ctrlnglat,
        zoom: 11
    });

    function setSource(map, color) {
        if (map.getSource('raster-tiles')) map.removeSource('raster-tiles');
        if (map.getLayer('raster-tiles')) map.removeLayer('raster-tiles');

        //We add a date to the url to make sure to not cache the tile
        var rd = new Date();

        map.addSource('raster-tiles', {
            type: 'raster',
            tiles: [`tiles/${rd.getTime()}/${color}/{z}/{x}/{y}.png`],
            bounds: {{ bounds }},
            minzoom: 0,
            maxzoom: 22,
            tileSize: {{ tile_size }}
        });

        map.addLayer({
            'id': 'raster-tiles',
            'type': 'raster',
            'source': 'raster-tiles'
        });
    }

    var color = encodeURIComponent("gamma b 1, gamma rg 1");
    var shell = $('#console').terminal(function(command) {
        if (command !== '') {
            color = command.split('rio color')[-1];

            this.echo('APPLYING ' + command);
            setSource(map, encodeURIComponent(command));
        } else {
           this.echo('');
        }
    }, {
        greetings: 'USAGE: <>',
        name: 'js_demo',
        height: 200,
        prompt: '> '
    });

    map.on('load', function() {
        const bounds = {{ bounds }};
        map.fitBounds([
            [bounds[0], bounds[1]],
            [bounds[2], bounds[3]]
        ]);
        setSource(map, color);
    });

</script>
</body>
</html>
