<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:200px; width:100%; }
        #console {position: absolute; bottom: 0px; height: 200px; width: 100%; background-color: black}
    </style>
    <link href='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.min.css' rel='stylesheet'>
    <script async defer src='https://api.mapbox.com/mapbox-assembly/v0.8.1/assembly.js'></script>
    <script src="{{url_for('static', filename='jquery-2.1.1.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.terminal.min.js')}}"></script>
      <link href="{{url_for('static', filename='jquery.terminal.css')}}" rel="stylesheet"/>
</head>
<body>

<div id='map'></div>
<div id='console'></div>
<script>


mapboxgl.accessToken = 'pk.eyJ1IjoiZG5vbWFkYiIsImEiOiJjaW16aXFsZzUwNHJmdjdra3h0Nmd2cjY1In0.SqzkaKalXxQaPhQLjodQcQ';

var ctrlnglat = [{{ ctrlng }}, {{ ctrlat }}];

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v9',
    center: ctrlnglat,
    zoom: 13,
    minZoom: 13,
    maxZoom: 13,
    hash: true
});

function setSource(map, color) {
    try {
        map.removeLayer('raster-tiles');
        map.removeSource('raster-tiles');
    } catch(err) {

    }

    var rd = new Date();



    map.addLayer({
        "id": "raster-tiles",
        "type": "raster",
        "source": {
            'type': 'raster',
            'id': 'raster-tiles',
            "tiles": ["tiles/" + rd.getTime() + '/' + color + "/{z}/{x}/{y}.png"],
            "tileSize": {{ tile_size }}
        },
        "minzoom": 0,
        "maxzoom": 22
    });
}


// for now just use hardcoded formula
var color = encodeURIComponent("gamma b 1, gamma rg 1");
var shell = $('#console').terminal(function(command) {
    if (command !== '') {
        color = command.split('rio color')[-1];

        this.echo('APPLYING ' + command);
        setSource(map, encodeURIComponent(command));
    } else {
       this.echo('');
    }
}, {
    greetings: 'USAGE: <>',
    name: 'js_demo',
    height: 200,
    prompt: '> '
});


map.on('load', function() {
    setSource(map, color);

});

</script>
</body>
</html>
